
body {
  background-color: #000000; /* For browsers that do not support gradients */
  font-family: 'Roboto', sans-serif;
  color: white;
}


.auth{
    width: 40%;
    margin:auto; 
    margin-top: 1%;
    max-width: 300px;
    background-color: #1A1A1A;
    border: #1A1A1A;
    padding: 15px;
    text-align: center;
    border-radius: 15px;

  }

 /* .loginDiv{
    margin:auto;  
    width: 382px;  
    overflow: hidden;  
    padding: 80px;  
    background: #1aa2c8;  
    border-radius: 15px ; 
  }
  */
  .auth form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto 10px auto;
  }
  
  .auth__success{
    padding: 10px 0;
    background-color: hsl(147, 57%, 61%);
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .auth__error{
    padding: 10px 0;
    size: 14px;
    background-color: hsl(0, 80%, 69%);
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .auth form > input {
    height: 40px;
    color: rgb(245, 250, 250);
    background-color:#323236;
    border: 0.5px solid #575758;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
  }

  .auth form > button{
    height: 40px;
    margin: auto;
    width: 60%;
    background-color: rgb(181, 159, 241);
    font-size: 14px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.5px solid #575758;
  }



#pass {
  padding-bottom: 0%;
  height: 40px;
  background-color:#323236;
  border: 0.5px solid #575758;
  font-size: 13px;
  border-radius: 5px;
  font-size: 15px;
}

  #login{
    height: 40px;
    margin: auto;
    width: 30%;
    background-color: #3FA9F5;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.5px solid #575758;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #registerButton{
    height: 40px;
    margin: auto;
    width: 30%;
    background-color: #3FA9F5;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.5px solid #575758;
    cursor: pointer;
    
  }


#reg{
  height: 40px;
  background-color: rgb(34, 34, 37);
  color: #3FA9F5;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 5px;
  border: 0.5px solid #575758;
  width: 30%;
  cursor: pointer;
  margin-left: 10px;
  
}

#link{
  text-align: left;
  font-size: 14px;
  color: #575758;
  text-decoration: underline;
  padding-left: 2%;
  cursor: pointer;
  margin-top: -2.5px;
}

#AB{
  /* align-self: center;
  position: relative; */
  align-self: center;
  position: relative;
  bottom: 0;
  left: 45%;
  padding-top: 1.5vw;
}

.center {
  position: relative;
  top: 2vw;
}

#google{
  
  margin: auto;
  font-size: 16px;
  border-radius: 5px;
  margin-top: -20px;


}
#or{
  color: #747474;
  margin-top: -10px;
}