.profile{
 
    width: 90%;
    max-width: 250px;
    padding: 20px;
    text-align: center;
    position: fixed;
    float: right;
    right: 0%;
    width: 30%;
    margin:auto; 
    height: 100vh;
    background-color: #1F1F21;
    border: 3px solid #000000;
    border-radius: 15px;
    top: 0%;

  }
  
  .profile p1 {
    text-align: center;
    color: #dfdbf7;
    font-size: 15px;
  }


  .profile p2{
    text-align: center;
    color: #b59ff1;
    font-size: 17px;


  }
  

  .profile p3{
    text-align: left;
    font-size: 15px;
    /* font-weight: bold; */
    padding-top: 2%;
    
  
   
  }



  a:link { text-decoration: none; }

  #icon{
position: relative;
color: #333237;
padding-right: 5%;
  }

  #iconlo{
    position: relative;
    color: #ffffff;
    padding-right: 5%;
      }
  
  .profile > span{
    color: #dfdbf7;
    margin-top: 30px;
    cursor: pointer;
  }

 
  .Content{
    float: center;
    position: relative;
    padding-top: 3%;
    text-align: center;
  } 
 

  .Lv{
    width: 250px;
    height: 150px;
    font-size: 17px;
    border: 1px solid #575758;
    border-radius: 15px;
    background-color: #222225;
    text-align: center;
    padding-top: 15%;
  
  }

.Vd{
  text-align: left;

}

.AM{
 
  Display: block;
}



.Vid{
  text-align: center;
  margin: auto;
  position: relative;
  width: 160px;
  color: #b59ff1;
  float: left;
  height: 130px;
  font-size: 25px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  /*
  margin-bottom: 10px; */
  


}

.tx{
  text-align: center;
  float: center;
  margin: auto;
  
}


.theImage {
  width: 150px;
  float:left;
  height: 100px;
  font-size: 17px;
  border: 1px solid #575758;
  border-radius: 15px;
  background-color: #222225;
  text-align: center;
  padding-top: 10%;
  margin-right: 15px;
  margin-bottom: 15px;
  
}

#pp{
  padding-top: 4%;
}

.Content{
  padding-left: 5%;
}

#home{
    height: 32px;
    margin: 2%;
    text-align: left;
    color: #333237;;
    padding-left: 10%;
    width: 100%;
    background-color: #e7e3f6;
    font-size: 14px;
    border-radius: 20px;
    border: 0.5px solid #575758;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif
}

#homelogout{
  height: 32px;
  color: #e3ddf6;
  margin: 2%;
  text-align: left;
  padding-left: 10%;
  width: 100%;
  background-color: #C44A4A;
  font-size: 14px;
  border-radius: 20px;
  border: 0.5px solid #575758;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sub_div {
  position: absolute;
  bottom: 35px;
  left: 0;
}

.Content{
  text-align: center;
}


.mediadiv{
  text-align: center;
  margin: auto;
  position: relative;
  width: 180px;
  color: #b59ff1;
  float: left;
  height: 120px;
  font-size: 25px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  display: flex;  
  flex-wrap: wrap;
  margin: 10px;
  

}

.formatBut {
  
  text-align: center;
  align-content: center;
}

#del{
  width: 55px;
  border-radius: 15px;
  color: rgb(231, 107, 107);
  border: 0.5px solid #575758;
  height: 25px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 0%;
}


.logout{
  color:#e3ddf6;
  background-color: #222225;
  border: none;
  cursor: pointer;

}


#down{
  width: 55px;
  border-radius: 15px;
  color: rgb(216, 230, 246);
  border: 0.5px solid #575758;
  height: 25px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 0%;
}



#analyse{
  width: 55px;
  border-radius: 15px;
  color: rgb(80, 187, 101);
  border: 0.5px solid #575758;
  height: 25px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 0%;
}






.Vids{
  text-align: center;
  margin: auto;
  position: relative;
  width: 180px;
  color: #ffffff;
  float: left;
  height: 150px;
  font-size: 17px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  /*
  margin-bottom: 10px; */
  


}


.imgs{
  text-align: center;
  margin: left;
  position: relative;
  width: 180px;
  color: #ffffff;
  float: left;
  height: 150px;
  font-size: 17px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  
  display: flex;  
  flex-wrap: wrap;
  margin-left: -100px;
  margin-left: 15px;
  /*
  margin-bottom: 10px; */
  


}



#back{
  height: 40px;
  background-color: rgb(34, 34, 37);
  color: #b59ff1;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0.5px solid #575758;
  width: 80px;
  
}

.upp{
  text-align: center;
  margin: auto;
  position: relative;
  width: 40%;
  color: #ffffff;
  float: left;
  height: 10%;
  font-size: 17px;
  border: 1px solid #b59ff1;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: rgb(34, 34, 37);
  
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  padding-left: 30px;



}


#up{
  width: 100px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  border: 0.5px solid #b59ff1;
  height: 35px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  top: 200%;
  left: 700%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(219, 192, 246);
  border-radius: 150%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #a285f0 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#pagelinks{
  text-decoration: none;
}


.pipelines{
  text-align: center;
  padding-top: 1%;
  margin: auto;
  position: relative;
  width: 50%;
  color: #ffffff;
  float: left;
  height: 40px;
  font-size: 17px;
  border: none;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: #222225;
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  padding-left: 30px;
  visibility:visible;
  /* visibility: hidden; */
}

#options{

    height: 40%;
    position: relative;
    margin-top: 1%;
    margin-left: 6px;
    background-color: #443d57;
    color: #b59ff1;
    font-size: 10px;
    border-radius: 20px;
    border: 0.5px solid #b59ff1;
    width: 15%
    
    }


#edit{
  position: absolute;
  right: 3%;
  height: 60%;
  margin-right: 2%;
  color: #575758;
  width: 10%;
  background-color: rgb(198, 179, 252);
  font-size: 12px;
  margin-right: auto;
  border-radius: 20px;
  border: 0.5px solid #575758;
  cursor: pointer;
}

#delete{
height: 26px;
width: 60px;
position:relative;
margin-left: 570px;
margin-top: -1400px;
background-color: #b59ff1;
color: #b59ff1;
font-size: 12px;
border-radius: 20px;
border: 0.5px solid #575758;
cursor: pointer;
visibility: hidden;
}

#add{
  width: 150px;
  height: 100px;
  font-size: 40px;
  background-color: #e7e3f6;
  color: #000000;
  border-radius: 15px;
  position:absolute;
  margin-top: 7%;
  margin-left: 23%;
  cursor: pointer;

}

#settings{
  width: 300px;
  background-color: #222225;
  border-radius: 20px;
  height: 70vh;
  margin-left: 70%;
  text-align: center;
  position: relative;
  top: -10px;

}

.set{
  text-align: left;
  position: absolute;
  top: 2%;
}

#changepass{
  height: 40px;
  font-size: 13px;
  background-color: rgb(34, 34, 37);
  color: rgb(181, 159, 241);;
  font-size: 14px;
  margin-top: 3%;
  border-radius: 20px;
  border: 0.5px solid #575758;
  width: 50%;
  cursor: pointer;
  
}

#settings p4{
  color: #575758;
  font-size: 14px;
  margin-left: -20%;
 
}

.Pipelineform{
  text-align: left;
  margin: left;
  position: relative;
  width: 85%;
  color: #ffffff;
  float: left;
  height: 70px;
  font-size: 17px;
  margin-bottom: 2px;
  border-radius: 15px;
  background-color: #222225;  
  flex-wrap: wrap;
  margin-top: 5%;
  margin-right: 400px;
  margin-left: 40px;
  padding-left: 5%;
  padding-top: 5px;

}

#pps{
  text-align: center;
  display: inline-block;
  position:relative;
  width: 75%;
  color: #ffffff;
  height: 40px;
  font-size: 17px;
  border:#e3ddf6;
  margin-bottom: 1px;
  border-radius: 5px;
  background-color: #222225;
  display: flex;  
  flex-wrap: wrap;
  margin-right: 500px;
  margin-left: 50px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  visibility: hidden;
 
}

#ppsdel{
  height: 20px;
  position: absolute;
  background-color: rgb(34, 34, 37);
  color: rgb(181, 159, 241);;
  font-size: 12px;
  border-radius: 20px;
  border: 0.5px solid #575758;
  width: 20px;
  cursor: pointer;
  
  }

#HomeContent {
position: relative;
width: 75%;
}

#MediaBlock{
  
  text-align: left;
  margin: auto;
  position: relative;
  width: 240px;
  color: #ffffff;
  float: left;
  height: 350px;
  border: 1px solid #37373a;
  margin-bottom: 5%;
  border-radius: 8px;
  background-color: #1F1F21;
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  
}

#preview{
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;

}

#MediaBlock p4{
  font-weight: bold;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;


}

#MediaBlock p5{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 12px;
}



#ButtonDiv{
  height:80% ;
  margin-top: -20px;
  margin-left: 3%;

}

#DownloadButton {
  width:27%;
  height: 18%;
  border-radius: 8px;
  border: #FF7E37;
  background-color: #FF7E37;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 3.5%;
}

#AnalyseButton {
  width:27%;
  height: 18%;
  border-radius: 8px;
  border: #51B9D4;
  background-color: #51B9D4;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 3.5%;
}

#DeleteButton {
  width:27%;
  height: 18%;
  border-radius: 8px;
  border: #FE4838;
  background-color: #FE4838;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 3.5%;
}

 #Searchbar{
margin-top: 3%;
margin-left: 3%;
width: 65%;
height: 50px;
background-color:#1F1F21; ;
border-radius: 25px 0 0 25px;
 }



#HomeContent h2{
font-family:Arial, Helvetica, sans-serif; 
font-size: 50px;
font-weight: normal;
padding-left: 5%;
}

#HomeContent hr{
  width: 90%;
}

/* ////////////////////// */

#searchhh{
  color: #e3ddf6;
  background-color:#000000;
  border-radius: 25px 0 0 25px;
  border-color: #000000;
  margin-left: 3%;
  margin-top: 0.8%;
  width: 35%;
  height: 30px;
  cursor: text;
}


#searchbuttonn{
  color: #e3ddf6;
  background-color:#000000;
  border-radius:  0 25px 25px 0 ;
  border-color: #353336;
  margin-top: 0.8%;
  width: 5%;
  height: 35px;
  cursor: text;
}

#uploadButton{
  background-color: #4EDBAC;
  border-radius:  5px ;
  color: #ffffff;
  height: 45px;
  font-size: 18px;
  width: 85px;
  border-color:#1F1F21 ;
  float: right;
  margin-top: 0.2%;
  cursor: pointer;
  margin-right: 10px;

}

#vehicle{
  background-color: #1F1F21;
  border-radius: 5px;
  width: 15%;
  color: #ffffff;

}

/* ///////////////////////////////////// */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  border: #79747E;
  border-style:solid;
  border-width: 1.5px;
  border-radius: 34px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #49454E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #938F99;
  -webkit-transition: .4s;
  transition: .4s;
 
}

input:checked + .slider {
  background-color: #6750A4;
}



input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#CreateButton{
width: 70px;
height: 30px;
border-radius: 15px;
background-color: #D0BCFF;
float: right;
margin-right: 10px;
border:none;
}

.Pipelineform p{
  color:#CAC4D0 ;

  /* width: 70px;




 */
 
 
}

/* ///////////////////////////////////// */


/* ///////////////////////////////////// */
