.profile{
 
  width: 90%;
  max-width: 240px;
  padding: 20px;
  text-align: center;
  position: fixed;
  float: right;
  right: 0%;
  width: 30%;
  margin:auto; 
  height: 100vh;
  background-color: #0F0F0F;
  top: 0%;
     /* background-color: #ffffff;
  border: 3px solid #ffffff; */

  /* background-image: linear-gradient(43deg, #25C4EF 0%, #8970EC 46%, #AC30C8 100%); */


    
  }
  
  /* p1 is h4 */
  .profile h4 {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }


  .profile h5{
    text-align: center;
    color: #b59ff1;
    font-size: 17px;


  }
  

  .profile p{
    text-align: left;
    font-size: 15px;
    /* font-weight: bold; */
    padding-top: 2%;
    
    
  
   
  }



  a:link { text-decoration: none; }

  #icon{
position: relative;
color: #e1e1e1;
padding-right: 5%;
padding-left: 5%;
  }

  #icon :hover{
    color: #ffffff;
  }

  #iconlo{
    position: relative;
    color: #ffffff;
    padding-right: 5%;
      }
  
  .profile > span{
    color: #dfdbf7;
    margin-top: 30px;
    cursor: pointer;
  }

 
  .Content{
    float: center;
    position: relative;
    padding-top: 3%;
    text-align: center;
  } 
 

  .Lv{
    width: 250px;
    height: 150px;
    font-size: 17px;
    border: 1px solid #575758;
    border-radius: 15px;
    background-color: #222225;
    text-align: center;
    padding-top: 15%;
  
  }

.Vd{
  text-align: left;

}

.AM{
 
  Display: block;
}



.Vid{
  text-align: center;
  margin: auto;
  position: relative;
  width: 160px;
  color: #b59ff1;
  float: left;
  height: 130px;
  font-size: 25px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  /*
  margin-bottom: 10px; */
  


}

.tx{
  text-align: center;
  float: center;
  margin: auto;
  
}


.theImage {
  width: 150px;
  float:left;
  height: 100px;
  font-size: 17px;
  border: 1px solid #575758;
  border-radius: 15px;
  background-color: #222225;
  text-align: center;
  padding-top: 10%;
  margin-right: 15px;
  margin-bottom: 15px;
  
}

#pp{
  padding-top: 4%;
}

.Content{
  padding-left: 5%;
}

#home{
  height: 35px;
  margin: auto;
  margin-top: 5%;
  text-align: left;
  color: #e1e1e1;;
  width: 100%;
  background-color: #1A1A1A;
  font-size: 14px;
  border-radius: 5px;
  /* border: 3px solid inherit; */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

#home:hover {
  background-color: #1A1A1A;
  
  color: #ffffff;
 
  transition: all .5s ease;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;

 border-radius: 5px; 
  border: 3px solid transparent; /*2*/
  border-image:linear-gradient(to left, #9928B3, #58aee7); 
 border-image-slice: 1;



  
 
}





#homelogout{
  height: 32px;
  color: #ffffff;
  margin: auto;
  text-align: center;
  padding-left: 35%;
  width: 100%;
  background-color: #1A1A1A;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

}

#homelogout:hover,
#homelogout:focus {
    background-color: #cc6259;
    color: rgb(255, 255, 255);
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}









.sub_div {
  position: absolute;
  bottom: 35px;
  left: 0;
}

.Content{
  text-align: center;
}


.mediadiv{
  text-align: center;
  margin: auto;
  position: relative;
  width: 180px;
  color: #b59ff1;
  float: left;
  height: 120px;
  font-size: 25px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  display: flex;  
  flex-wrap: wrap;
  margin: 10px;
  

}

.formatBut {
  
  text-align: center;
  align-content: center;
}

#del{
  width: 55px;
  border-radius: 15px;
  color: rgb(231, 107, 107);
  border: 0.5px solid #575758;
  height: 25px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 0%;
}


.logout{
  color:#e3ddf6;
  background-color: #222225;
  border: none;
  cursor: pointer;

}


#down{
  width: 55px;
  border-radius: 15px;
  color: rgb(216, 230, 246);
  border: 0.5px solid #575758;
  height: 25px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 0%;
}



#analyse{
  width: 55px;
  border-radius: 15px;
  color: rgb(80, 187, 101);
  border: 0.5px solid #575758;
  height: 25px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 0%;
}






.Vids{
  text-align: center;
  margin: auto;
  position: relative;
  width: 180px;
  color: #ffffff;
  float: left;
  height: 150px;
  font-size: 17px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  /*
  margin-bottom: 10px; */
  


}


.imgs{
  text-align: center;
  margin: left;
  position: relative;
  width: 180px;
  color: #ffffff;
  float: left;
  height: 150px;
  font-size: 17px;
  border: 1px solid #575758;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: #222225;
  
  display: flex;  
  flex-wrap: wrap;
  margin-left: -100px;
  margin-left: 15px;
  /*
  margin-bottom: 10px; */
  


}



#back{
  height: 40px;
  background-color: rgb(34, 34, 37);
  color: #b59ff1;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0.5px solid #575758;
  width: 80px;
  
}

.upp{
  text-align: center;
  margin: auto;
  position: relative;
  width: 40%;
  color: #ffffff;
  float: left;
  height: 10%;
  font-size: 17px;
  border: 1px solid #b59ff1;
  margin-bottom: 10%;
  border-radius: 15px;
  background-color: rgb(34, 34, 37);
  
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  padding-left: 30px;



}


#up{
  width: 100px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  border: 0.5px solid #b59ff1;
  height: 35px;
  margin: auto;
  background-color: #575758;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  top: 200%;
  left: 700%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(219, 192, 246);
  border-radius: 150%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #51B9D4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#pagelinks{
  text-decoration: none;
}


.pipelines{
  text-align: center;
  padding-top: 1%;
  margin: auto;
  position: relative;
  width: 50%;
  color: #ffffff;
  float: left;
  height: 40px;
  font-size: 17px;
  border: none;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: #222225;
  display: flex;  
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 15px;
  padding-left: 30px;
  visibility:visible;
  /* visibility: hidden; */
}

#options{

    height: 40%;
    position: relative;
    margin-top: 1%;
    margin-left: 6px;
    margin-right: 10px;
    background-color: #443d57;
    color: #b59ff1;
    font-size: 10px;
    border-radius: 20px;
    border: 0.5px solid #b59ff1;
    width: 15%
    
    }


#edit{
  position: absolute;
  right: 3%;
  height: 60%;
  margin-right: 2%;
  color: #575758;
  width: 10%;
  background-color: rgb(198, 179, 252);
  font-size: 12px;
  margin-right: auto;
  border-radius: 20px;
  border: 0.5px solid #575758;
  cursor: pointer;
}

#delete{
height: 26px;
width: 60px;
position:relative;
margin-left: 570px;
margin-top: -1400px;
background-color: #b59ff1;
color: #b59ff1;
font-size: 12px;
border-radius: 20px;
border: 0.5px solid #575758;
cursor: pointer;
visibility: hidden;
}

#add{
  width: 150px;
  height: 100px;
  font-size: 40px;
  background-color: #e7e3f6;
  color: #000000;
  border-radius: 15px;
  position:absolute;
  margin-top: 7%;
  margin-left: 23%;
  cursor: pointer;

}

#settings{
  width: 300px;
  background-color: #1A1A1A;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  height: 60%;
  text-align: center;
  position: relative;
  padding-bottom: 15px;

}

.set{
  text-align: left;
  position: absolute;
  top: 2%;
}

#changepass{
  height: 40px;
  font-size: 13px;
  background-color: rgb(34, 34, 37);
  color: rgb(57, 57, 57);;
  font-size: 14px;
  margin-top: 3%;
  border-radius: 5px;
  border: 1px solid #575758;
  width: 70%;
  cursor: pointer;
  color:#58aee7;
  font-weight: bold;
  
  
}

#settings p4{
  color: #575758;
  font-size: 14px;
  margin-left: -20%;
 
}

.Pipelineform{
  text-align: left;
  margin: left;
  position: relative;
  width: 88%;
  color: #ffffff;
  float: left;
  height: 70px;
  font-size: 17px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #222225;  
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 40px;
  padding-left: 5%;
  padding-top: 5px;

}

#pps{
  text-align: center;
  display: inline-block;
  position:relative;
  width: 75%;
  color: #ffffff;
  height: 40px;
  font-size: 17px;
  border:#e3ddf6;
  margin-bottom: 1px;
  border-radius: 5px;
  background-color: #222225;
  display: flex;  
  flex-wrap: wrap;

  margin-left: 115px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  visibility: hidden;
 
}

#ppsdel{
  height: 20px;
  position: absolute;
  background-color: rgb(34, 34, 37);
  color: rgb(181, 159, 241);;
  font-size: 12px;
  border-radius: 20px;
  border: 0.5px solid #575758;
  width: 20px;
  cursor: pointer;
  
  
  }

#HomeContent {
position: relative;
width: 75%;
/* display: none; */

}

/* #HomeContentListt {
  
  display: none;
  
  } */


#HomeContentList {
  width: 75%;
  height: 100%;
  background-color:inherit;
  /* list-style-position: outside; */
  /* display: contents; */

  }


/* #something{
  position: absolute;
} */



#MediaBlock{
  
  text-align: left;
  margin: auto;
  position: relative;
  width: 240px;
  color: #ffffff;
  float: left;
  height: 350px;
  border: 1px solid #1A1A1A;
  
  margin-bottom: 5%;
  border-radius: 8px;
  background-color: #1A1A1A;
  /* display: flex;   */
   flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;

 
  
  
}


#MediaBlockResults{
  
  text-align: left;
  margin: auto;
  position: relative;
  width: 240px;
  color: #ffffff;
  float: left;
  height: 360px;
  border: 1px solid #1A1A1A;
  
  margin-bottom: 5%;
  border-radius: 8px;
  background-color: #1A1A1A;
  /* display: flex;   */
   flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  
  
}





#MediaBlock:hover{
  top: -3px;
}





#MediaBlock p{
  margin-top: -20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:normal;
  text-transform: capitalize; 
  /* word-break: break-all;
    white-space: normal; */

    

  }


  #MediaBlockResults p{
    margin-top: -20px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:normal;
    text-transform: capitalize; 
    /* word-break: break-all;
      white-space: normal; */
  
      
  
    }



 


#MediaBlock h5{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 10px;
}

#previewResults{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: -10px;
  object-fit: cover;
  width: 240px;
  height: 220px;
 
 
 }

 #preview{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  width: 240px;
  height: 220px;
 
 
 }


 
#MediaBlockResults:hover{
  top: -3px;
}








#MediaBlockResults h5{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 10px;
}

#ButtonDiv{
  height:80% ;
  margin-top: -20px;
  margin-left: 3%;
  padding-bottom: 3px;

}

#DownloadButton {
  width:65px;
  height: 65px;
  border-radius: 8px;
  border: #9928B3;
  background-color: #9928B3;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 3.5%;
}

#AnalyseButton {
  width:65px;
  height: 65px;
  border-radius: 8px;
  border: #9928B3;
  background-color: #9928B3;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 3px;
}


#DeleteButton {
  width:65px;
  height: 65px;
  border-radius: 8px;
  border: #9928B3;
  background-color: #9928B3;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 3px;
  
}



#ResultButton {
  width:90%;
  height:25px;
  border-radius: 5px;
  padding: 3px;
  
  border: #58aee7;
  background-color: #58aee7;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  margin-left: 5%;
  padding-top: 4px;
  margin-top: 5px;
  
}

#ResultListButton {
  width:24%;
  height:25px;
  border-radius: 5px;
  padding: 3px;
  border: #14bf80;
  background-color: #14bf80;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  margin-left: 40%;
}



 #Searchbar{
margin-top: 3%;
margin-left: 3%;
width: 70%;
height: 50px;
background-color:#1A1A1A; ;
border-radius: 5px;


 }



#HomeContent h2{
font-family:Arial, Helvetica, sans-serif; 
font-size: 50px;
font-weight: normal;
padding-left: 5%;
}

#HomeContent hr{
  width: 90%;
}

/* ////////////////////// */


#ConSearch{
 position: absolute;
margin-left: 5px;
margin-top: 7px;
width: 80%;
}

#searchhh{


  color: #ffffff;
  background-color:#464646;
  border-radius: 5px 0 0 5px;
  border-color: #c1c1c1;
  border: none;
  /* border: none; */
  margin-left: 2%;
  width: 30%;
  height: 30px;
  cursor: text;
  font-size: 16px;
 

}


#searchbuttonn{
 
  
 
  color:#ffffff;
  background-color:#464646;
  border-radius:  0 5px 5px 0 ;
  border-color: #c1c1c1;
  border: none;
  width: 5%;
  height: 32.2px;
  cursor: pointer;

 
}

#upIcon{
margin-bottom: -5px;
}

#uploadInput{
  float: right;
  position:relative;
  background-color: #285EFE;
  border-radius:  5px ;
  color: #ffffff;
  font-weight: bold;
  height: 30px;
  font-size: 18px;
  border-color:#1F1F21 ;
  width: 90px;
  margin-top: 8px;
  padding-top: 4px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
  
 text-align: center;
 cursor: pointer;
}



#vehicle{
  background-color: #1F1F21;
  border-radius: 5px;
  width: 15%;
  height: 22px;
  color: #ffffff;
  font-size: 17px;
  

}

#vehicle:hover{
  background-color: #2B2C2E;

}

#optionss:hover {background: #6750A4;}


/* ///////////////////////////////////// */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
  border: #79747E;
  border-style:solid;
  border-width: 1.5px;
  border-radius: 34px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #49454E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #938F99;
  -webkit-transition: .4s;
  transition: .4s;
 
}

input:checked + .slider {
  background-color: #6750A4;
}



input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#CreateButton{
width: 70px;
height: 30px;
border-radius: 15px;
background-color: #D0BCFF;
float: right;
margin-right: 10px;
border:none;
}

.Pipelineform p{
  color:#CAC4D0 ;

  /* width: 70px;




 */
 
 
}

#listOption{
  font-size: 25px;
  color:azure;

}




#viewGrid{
  background-color:inherit;
  border: white 5px;
  margin-right: 5px;
  cursor: pointer;
  /* background-color:inherit;
  margin-top: -30px;
  border: none;
  cursor: pointer;
  border-radius: 100%; */
}



#viewList{
  background-color: inherit;
  border: none;
  margin-left: 310px;
  cursor: pointer;
  /* background-color: inherit;
  border: none;
  margin-left: 60%;
  cursor: pointer;
  border-radius: 100%; */
}





#listOptionactive{
color: #51B9D4;
}




#MediaBlockList {
  width: 85%;
  height: 80px;
  background-color: #1A1A1A;
  border-radius:15px ;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: 30px;
  
}

#MediaBlockList h2{
  font-size: 17px;
  margin-top: -50px;
  margin-left: 100px;
  font-weight: bold;
  color: #f9f9f9;
  width: 45%;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:normal;
  text-transform: capitalize; 
}

#nameDiv{
 position: relative;
 border: #4EDBAC;
}



#ButtonDivList{
  height:80% ;
  margin-left: 3%;

}

#previewList{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
 
 
 }


 #ResultButtonList {
  width:53px;
  height: 53px;
  border-radius: 8px;
  border: #58aee7;
  background-color: #58aee7;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  position: relative;
  float:right;
  margin-top: -53px;
  margin-right: 192px;
  
}

 #DownloadButtonList {
  width:53px;
  height: 53px;
  border-radius: 8px;
  border: #9928B3;
  background-color: #9928B3;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  position: relative;
  float:right;
  margin-top: -53px;
  margin-right: 131px;
  
}
#AnalyseButtonList {
  width:53px;
  height: 53px;
  border-radius: 8px;
  border: #9928B3;
  background-color: #9928B3;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  position: relative;
  float:right;
  margin-top: -53px;
  margin-right: 70px;
  
}

#DeleteButtonList {
  width:53px;
  height: 53px;
  border-radius: 8px;
  border: #9928B3;
  background-color: #9928B3;
  cursor: pointer;
  font-size: 10px;
  color: #e7e3f6;
  position: relative;
  float:right;
  margin-top: -53px;
  margin-right: 10px;
 
}





#pipelineName{
  background-color: #2F2F2F;
  width: 20%;
  height: 20px;
  font-size: 18px;
  border: none;
  color: #f9f9f9;
  border-bottom: 2px solid #ACACAC;
  margin-left: -30px;
  margin-right: 15px;
}

#deletepipeline{
  cursor: pointer;
  color: #a285f0;
  float: right;
  border: none;
  background-color: inherit;
  margin-left: 10%;
  margin-top: -35px;
  visibility: hidden;
}

/* was p1 */
#pps h4{
  margin-right: 10%;
  margin-left: 5%;
}

/* ///////////////////////////////////////////////// */






/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top:-30%;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;
  overflow-y: auto ;
}

/* Full-width input fields */


/* When the inputs get focus, do something */


/* Set a style for the submit/login button */
.form-container .pipelineChosen {

  background-color:#444444;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  height: 28px;
  width: 100%;
  
}






/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: 8px;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#myForm p{
  color: #ffffff;
}

#myForm h1{
  color: #ffffff;
  font-size: 30px;
}

#myForm label{
  color: #ffffff;
}





#fileInput{
  visibility: hidden;
}

#Searchbar label{

  cursor: pointer;
  

}


/* //////////////////////////////////////////////////////////////// */

.Resultform-popup {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top: -30px;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.Resultform-container {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;

}





/* Add a red background color to the cancel button */
.Resultform-container #analysedMed{
  background-color: #58aee7;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}


.Resultform-container .cancel{
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.Resultform-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#ResultmyForm p{
  color: #ffffff;
}

#ResultmyForm h1{
  color: #ffffff;
}

#ResultmyForm label{
  color: #ffffff;
}


#textResults{
  color: #ffffff;
  font: 40px;
}


#resultcancel{
  display: none;
}
/* //////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////// */

.Uploadform-popup {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top: -30px;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.Uploadform-container {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;
}





/* Add a red background color to the cancel button */
.Uploadform-container .cancel {
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.Uploadform-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#UploadmyForm p{
  color: #ffffff;
}

#UploadmyForm h1{
  color: #ffffff;
}

#UploadmyForm label{
  color: #ffffff;
}

#textUpload{
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}



#Uploadcancel{
  display: none;
}
/* //////////////////////////////////////////////////// */

#center h2 {
  font-size: 40px;
  padding-left: 30%;
  
}

.loader {
  display: none;
  margin: auto;
  margin-top: 15px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #58aee7;
  width: 30px;
  height: 30px;;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* //////////////////// */

.uploader {
  display: none;
  margin: auto;
  margin-top: 15px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #58aee7;
  width: 30px;
  height: 30px;;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#pipelineHeading{
  font-size: 40px;
  margin-left: 30%;
}
#settingsHeading{
  font-size: 40px;
  margin-left: 36.5%;
}





.ResultformResult-popup {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top: -30px;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.ResultformResult-container {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;

}





/* Add a red background color to the cancel button */
.ResultformResult-container #analysedMed{
  background-color: #58aee7;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}


.ResultformResult-container .cancel{
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
}

/* Add some hover effects to buttons */
.ResultformResult-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#ResultmyFormResult p{
  color: #ffffff;
}

#ResultmyFormResult h1{
  color: #ffffff;
}

#ResultmyFormResult label{
  color: #ffffff;
}


#textResultsResult{
  color: #ffffff;
  font: 40px;
}


#resultcancelResult{
  display: block;
}
/* //////////////////////////////////////////////////// */



#adminHeading{
  font-size: 25px;
  color: #ffffff;
  padding-left: 30px;
}

#adminHeadingRole{
  font-size: 25px;
  color: #58aee7;
  padding-left: 35px;
}

#AdminAccount{
  font-size: 35px;
  color: #ffffff;
  padding-left: 400px;
  
}

#adminFunc{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-color: #97a1a7;
  border: none;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#RemoveadminFunc{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-color: #97a1a7;
  border: none;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#DeleteAccFunc{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-color: #cf5c51;
  border: none;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}



/* ////////////////////////////////////////////////////////////////////////////////// */
/* The popup form - hidden by default */
.form-popupList {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top:-5%;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.form-containerList {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;
  overflow-y: auto ;
}

/* Full-width input fields */


/* When the inputs get focus, do something */


/* Set a style for the submit/login button */
.form-containerList .pipelineChosen {

  background-color:#444444;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  height: 28px;
  width: 100%;
  
}






/* Add a red background color to the cancel button */
.form-containerList .cancel {
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: 8px;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.form-containerList .btn:hover, .open-button:hover {
  opacity: 1;
}

#myFormList p{
  color: #ffffff;
}

#myFormList h1{
  color: #ffffff;
  font-size: 30px;
}

#myFormList label{
  color: #ffffff;
}

/* ///////////////////////////////////////////////////////// */

.Uploadform-popupList {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top: 20px;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.Uploadform-containerList {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;
}





/* Add a red background color to the cancel button */
.Uploadform-containerList .cancel {
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.Uploadform-containerList .btn:hover, .open-button:hover {
  opacity: 1;
}

#UploadmyFormList p{
  color: #ffffff;
}

#UploadmyFormList h1{
  color: #ffffff;
}

#UploadmyFormList label{
  color: #ffffff;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
/* The popup form - hidden by default */
.form-popupAcc {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top:-35%;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.form-containerAcc {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: center;
  overflow-y: auto ;
}

/* Full-width input fields */


/* When the inputs get focus, do something */


/* Set a style for the submit/login button */
.form-containerAcc .pipelineChosen {

  background-color:#444444;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  height: 28px;
  width: 100%;
  
}






/* Add a red background color to the cancel button */
.form-containerAcc .cancel {
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: 8px;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.form-containerAcc .btn:hover, .open-button:hover {
  opacity: 1;
}

#myFormAcc p{
  color: #ffffff;
}

#myFormAcc h1{
  color: #ffffff;
  font-size: 30px;
}

#myFormAcc label{
  color: #ffffff;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
#compare{
  width: 70%;
  background-color:#000000;
  max-height: 200px;
  overflow-y: scroll;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
 
}


/* ///////////////////////////////////////////////////////////////////////////////////////////// */

.Compareform-popup {
  display: none;
  position: fixed;
  margin-left:35%;
  margin-top: -30px;
  border-radius: 5px;
  z-index: 9;
}

/* Add styles to the form container */
.Compareform-container {
  width: 250px;
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: #0F0F0F;
  border-radius: 5px;
  text-align: left;
  overflow-y: auto ;
  word-wrap: break-word;


}





/* Add a red background color to the cancel button */
.Compareform-container #analysedMed{
  background-color: #58aee7;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}


.Compareform-container .cancel{
  background-color: #cc6259;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 40%;
  height: 25px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

/* Add some hover effects to buttons */
.Compareform-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#ComparemyForm p{
  color: #ffffff;
}

#ComparemyForm h1{
  color: #ffffff;
}

#ComparemyForm label{
  color: #ffffff;
}


#textResults{
  color: #ffffff;
  font: 40px;
}


#Comparecancel{
  display: none;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */