.test-containor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow-x: hidden; */
}

.logo {
    height: 40px;
    overflow-y: hidden;
    /* width: 40px; */
}