.profile{
 
  
    width: 90%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    float: right;
    width: 40%;
    margin:auto; 
    height: 100vh;
    background-color: rgb(34, 34, 37);
    border: 3px solid #000000;
    border-radius: 15px;

  }
  
  .profile p {
    text-align: center;
    color: #dfdbf7;
    font-size: 14px;
  }
  
  
  .profile > span{
    color: blue;
    margin-top: 30px;
    cursor: pointer;
  }

#pp{
  padding-top: 14%;
}

#home{
    height: 40px;
    margin: auto;
    margin-top: 3%;
    width: 100%;
    background-color: rgb(181, 159, 241);
    font-size: 14px;
    border-radius: 20px;
    border: 0.5px solid #575758;
}